#socials-medias {
    display: flex;
    justify-content: center;
    @include computer {
        justify-content: flex-end;
        height: 50px;
    }
    p {
        text-align: center;
    }
}

.social-media {
    @include sm-border;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    margin: 40px 5px;
    &__icon {
        font-size: map-get($icon-size, mobile);
        @include computer {
            font-size: map-get($icon-size, desktop);
        }
    }
    &:hover {
        @include sm-border ($color: $hover-color);
        &>.social-media__icon {
            color: $hover-color;
        }
    }
    @include computer {
        padding: 6px;
        margin: 30px 8px;
    }
}