body {
    background: url(../../images/bg-mobile.svg) no-repeat, $bg-color;
    background-size: $full-width;
    padding: 30px;
    @include computer {
        background: url(../../images/bg-desktop.svg) no-repeat, $bg-color;
        padding: 50px 70px 0 70px;
    }
}

#logo {
    width: map-get($logo-width, mobile);
    @include desktop {
        width: map-get($logo-width, desktop);
    }
}

#landing-page {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include computer {
        display: flex;
        margin-top: 75px;
    }
    &__text {
        @include tablet {
            width: 325px;
            justify-self: center;
        }
        @include computer {
            display: flex;
            flex-direction: column;
            padding-left: 65px;
        }
        @include desktop {
            width: 45%;
        }
        @include large-screen {
            width: 690px;
        }
    }
    @include large-screen {
        justify-content: center;
    }
}

#main-illustration {
    width: $full-width;
    margin: 50px 0;
    @include tablet {
        width: 325px;
    }
    @include desktop {
        width: 55%;
        margin: 0;
    }
    @include large-screen {
        width: 740px;
        margin: 0;
    }
}

h1 {
    margin: 40px 0 5px 0;
}