$bg-color: hsl(257, 40%, 49%);

$hover-color: hsl(300, 69%, 71%);

$text-color: #FFF;
$button-color: #FFF;

$h1-font: Poppins-SemiBold;
$h1-size: (mobile: 25px, desktop: 40px);

$p-font: OpenSans-Regular;
$p-size: (mobile: 16px, desktop: 18px);

$logo-width: (mobile: 130px, desktop: 220px);

/* Register Button */
$btn-font: Poppins-Regular;
$btn-size: (mobile: 12px, desktop: 18px);
$btn-color-shadow: hsl(257, 40%, 29%);
$btn-shadow: 3px 3px 10px $btn-color-shadow;


/* Socials Medias */
$sm_color: #FFF;
$icon-size: (mobile: 12px, desktop: 16px);

/* Footer */
$footer-size: 10px;

$full-width: 100%;